body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: rgb(0, 255, 98);
}

.container {
    display: flex;
    width: 1500px;
    color: white;
}

.empty {
    border-bottom: 30px solid rgb(0, 255, 98);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 10px;
    width: 175px;
}

.map {
    width: 264px;
    height: 266px;
}

.main-logo {
    display: flex;
    justify-content: center;
}

.back-logo {
    width: 0;
    height: 0;
    border-left: 65px solid rgba(121, 24, 132, 1);
    border-right: 65px solid rgba(121, 24, 132, 1);
    border-top: 130px solid rgba(121, 24, 132, 1);
    border-bottom: 30px solid transparent;
}

.logo {
    width: 80px;
    padding-top: 25px;
    position: absolute;
}

.sponsor {
    width: 261px;
    height: 90px;
    background-image: linear-gradient(to right, rgba(121, 24, 132, 1), rgba(40, 29, 96, 1));
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sponsor img {
    height: 55px;
}

.info-container {
    height: 90px;
    display: grid;
    grid-template-areas: "turtle-1 lord-1 turet-1 gold-1 poin-1 time poin-2 gold-2 turet-2 lord-2 turtle-2"
                         "info-1 info-1 info-1 info-1 empty empty empty info-2 info-2 info-2 info-2";
    grid-template-rows: 50px 40px;
    grid-template-columns: 85px 50px 50px 60px 50px 125px 50px 60px 50px 50px 85px;
    background-image: linear-gradient(to right, rgba(121, 24, 132, 1), rgba(40, 29, 96, 1), rgba(121, 24, 132, 1));
}

.info-container * {
    margin: 0;
    font-size: 20px;
    align-content: center;
    text-align: center;
}

.time {
    font-size: 36px;
    grid-area: time;
}

.poin-1 {
    font-size: 28px;
    grid-area: poin-1;
}

.poin-2 {
    font-size: 28px;
    grid-area: poin-2;
}

.turtle-1 {
    padding-left: 35px;
    grid-area: turtle-1;
    display: flex;
    gap: 10px;
}

.turtle-2 {
    padding-right: 35px;
    grid-area: turtle-2;
    display: flex;
    gap: 10px;
    flex-direction: row-reverse;
}

.lord-1 {
    grid-area: lord-1;
    display: flex;
    gap: 5px;
}

.lord-2 {
    grid-area: lord-2;
    display: flex;
    gap: 5px;
    flex-direction: row-reverse;
}

.turet-1 {
    grid-area: turet-1;
    display: flex;
    gap: 5px;
}

.turet-2 {
    grid-area: turet-2;
    display: flex;
    gap: 5px;
    flex-direction: row-reverse;
}

.gold-1 {
    grid-area: gold-1;
    display: flex;
    gap: 5px;
}

.gold-2 {
    grid-area: gold-2;
    display: flex;
    gap: 5px;
    flex-direction: row-reverse;
}

.icon {
    width: 20px;
}

.team-info-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    grid-area: info-1;
}

.team-info-2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    grid-area: info-2;
}

.team-name-display {
    font-weight: normal;
    width: 120px;
    text-align: center;
}

.team-win-bar {
    display: flex;
}

.win-bar {
    width: 27px;
    height: 10px;
    margin: 0px 1px;
}

.extraImage {
    width: 27px;
    height: 10px;
    display: none;
}


/*Control panel*/
.control-panel {
    display: flex;
    gap: 30px;
}

.win-label {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.teams {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    width: 150px;
}

.timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.button {
    width: 100px;
    height: 30px;
}